*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}    
body{
    background: linear-gradient(2.0turn, hsl(240, 18%, 47%), #466a85);
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    width: 80%;
    text-align: center;
    margin :40px;
    border: 5px outset rgb(255, 255, 255);
    background:  hsl(240, 0%, 46%);
}
h1{
    color: #CEE6F3;
}
input{
    margin : 10px;
    padding: 20px;1
}
button{
    background-color: rgb(77, 214, 77);
    color :white;
    width : 150px;
    height: 50px;
}
p{
   color: white;
}
#EDUCATION{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2) !important;
border-radius: 16px !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
backdrop-filter: blur(5px) !important;
-webkit-backdrop-filter: blur(5px) !important;
border: 1px solid rgba(255, 255, 255, 0.3) !important;
}